<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <appSettings>
    <add key="IssueRegex" value="[A-Za-z]{2,}-\d+"/>
    <add key="ClosedStatuses" value="Code Review, Ready for QA, Resolved, Closed"/>
  </appSettings>
  <nlog xmlns=" http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="console" xsi:type="Console" error="true" layout="${message} ${exception:format=message}" />
      <target name="file" xsi:type="File" fileName="jira-precommit.log" layout="${date:format=HH\:mm\:ss} ${message} ${exception:format=tostring}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="console" />
      <logger name="*" minlevel="Off" writeTo="file" />
    </rules>
  </nlog>
</configuration>